:root {
    --text-color: #fff;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    color: var(--text-color);
    background: #3B4858;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1320px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

header {
    background: #0061A4;
}

.header__inner {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

/* left menu */
.selected {
    color: #df481a;
}